
{% load static tailwind_tags %}
<!DOCTYPE html>

<head>{% spaceless %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}Django Alpinejs{% endblock head_title %}</title>
    <script type="text/javascript" src="https://unpkg.com/alpinejs@3.2.1/dist/cdn.min.js" defer></script>
    <script type="text/javascript" src="https://unpkg.com/htmx.org@1.7.0" defer></script>
    {% block head_extra %}{% endblock head_extra %}
    {% tailwind_css %}
    <style>
        body {
            margin: 0;
            padding: 0;
        }

    </style>
    {% endspaceless %}
</head>

<body>{% spaceless %}
    <div class="flex flex-col w-screen h-screen">
        <div class="w-full p-3 text-xl bg-slate-300">rechat_example</div>
        <div class="flex-grow w-full" id="main">
            {% block content %}{% endblock %}
        </div>
    </div>
    {% block endbody %}{% endblock %}
    {% endspaceless %}
</body>

</html>
